@import "https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css";


@import url('https://fonts.googleapis.com/css2?family=Bitter:wght@500&display=swap');


:root{
    --dark:#090d87;
    --blanco:#ffffff;
    --yellow:#ffb703;
}

body{
    font-family: 'Bitter', serif;
}


.navbar{
    background-color: var(--dark);
}

.navbar-item{
    color: var(--blanco);
    font-weight: bold;
    font-size: 36px;
    transition: .3s ease-in-out all;
    height:12vh;
}

.navbar-item:hover{
    color: var(--yellow)!important;
}

/*Main*/
.main-content{
    height: 92vh;
    display:flex;
    justify-content: center;
    align-items: center;

}

.crud-container{
    width:60%;
    padding:2rem 3rem;
    overflow: auto;
    box-shadow: 0 0 1rem 0 rgba(0,0,0, 0.3);
    border-radius: 0.5rem;
}

.crud-header{
    display:flex;
    justify-content: space-between;
    padding:0 2rem 1rem 2rem;
    border-bottom: 1px solid;
}

.crud-container h1{
    font-size:24px;
    font-weight:bold;

}


.button span{
    margin-left: 5px;
}

